<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Post</title>
  </head>
  <body>
    <h1 style="text-align: center">Add a new post</h1>
    <br />
    <div style="text-align: center">
      <form action="/posts" method="post">
        <label for="uname">Enter Username</label>
        <input type="text" name="username" id="uname" />
        <br /><br />
        <label for="cnt">Content: </label>
        <input type="textarea" name="content" id="cnt" />
        <br /><br />
        <button>Add Post</button>
      </form>
    </div>
  </body>
</html>
