<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
  </head>
  <body>
    <h1 style="text-align: center">Edit your post</h1>
    <br />
    <div style="text-align: center">
      <h3>Post id: <%=post.id%></h3>
      <h2>Username: @<%=post.username%></h2>
      <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
        <textarea rows="3" cols="35" name="content"><%=post.content%></textarea
        ><br /><br />
        <button>Edit Post</button>
      </form>
    </div>
  </body>
</html>
