h2{
    text-align: center;
    color:maroon;
    font-size: 2.5rem;
}
/* .post{ 
    padding:1rem;
} */
.post{
    background-color:rgb(224, 169, 102);
    padding:1rem;
    margin:1rem;
}
.username{
    font-style: italic;
    font-size: 1.3rem;
}
.content{
    color:rgb(39, 13, 13);
}